<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>随手记</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>随手记</h1>

        <h2>添加笔记</h2>
        <form id="add-note-form">
            <label for="contact">内容:</label>
            <textarea id="contact" name="contact" required></textarea>
            <!-- 添加一个选择类型的下拉菜单 -->
            <label for="note-type">类型:</label>
            <select id="note-type" name="note-type">
                <option value="0">笔记</option>
                <option value="1">杂物堆</option>
            </select>
            <button type="submit">添加笔记</button>
        </form>

        <h2>查看笔记</h2>
        <!-- 添加一个选择显示笔记类型的下拉菜单 -->
        <select id="notes-type" onchange="fetchNotes()">
            <option value="0">笔记</option>
            <option value="1">杂物堆</option>
            <option value="all">笔记和杂物堆</option>
        </select>
        <select id="notes-limit" onchange="fetchNotes()">
            <option value="0">不显示</option>
            <option value="5" selected>近5条</option>
            <option value="10">近10条</option>
            <option value="20">近20条</option>
            <option value="50">近50条</option>
        </select>
        <ul id="notes-list"></ul>

        <h2>导出笔记</h2>
        <form id="export-notes-form">
            <label for="start-date">开始日期:</label>
            <input type="date" id="start-date" name="start-date" required>
            <label for="end-date">结束日期:</label>
            <input type="date" id="end-date" name="end-date" required>
            <!-- 添加一个选择导出笔记类型的下拉菜单 -->
            <label for="export-type">类型:</label>
            <select id="export-type" name="export-type">
                <option value="0">笔记</option>
                <option value="1">杂物堆</option>
                <option value="all">笔记和杂物堆</option>
            </select>
            <button type="submit">导出CSV</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>